html {
	color: #b5b5b5;
	background-color: #121212;
	height: 100%;
	width: 100%;
	overflow: hidden;
	font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

* {
	-webkit-app-region: drag;
	user-select: none;
}

#sapper {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}

h1 {
	color: #dbdbdb;
}

a {
	-webkit-user-drag: none;
}

#close-button {
	position: absolute;
	right: 7px;
	top: 12px;
	width: 22px;
	height: 22px;
	color: #dbdbdb;
	-webkit-app-region: no-drag !important;
	z-index: 99;
}

#close-button * {
	color: #dbdbdb;
	-webkit-app-region: no-drag !important;
}