:root {
	--theme: #e94b4b;

	--title-bar-height: 30px;
	--background-color: white;

	/* This is set elsewhere */
	--side-bar-width: 0;
}

.bulma-dark-mode:root {
	--background-color: #121212;
}

html {
	overflow: hidden;
}

.hidden {
	display: none !important;
}

.visible {
	display: block !important;
}

/* Color changes */

html {
	background-color: var(--background-color) !important;
}

/* Helpers */

.no-select {
	user-select: none;
}

.allow-select {
	user-select: auto;
}

.dark-show {
	display: none;
}

.light-show {
	display: unset;
}

.bulma-dark-mode .dark-show {
	display: unset !important;
}

.bulma-dark-mode .light-show {
	display: none !important;
}

.fade-on-hover:hover {
	color: #7a7a7a !important;
}