:root {
	--theme: #e94b4b;

	--background-color: #eaeaea;

	/* This is set elsewhere */
	--side-bar-width: 0;

	--white-invert-factor: 0;
}

.bulma-dark-mode:root {
	--background-color: #121212;
	--white-invert-factor: 0.8;
}

html {
	overflow: hidden;
}

.hidden {
	display: none !important;
}

.visible {
	display: block !important;
}

/* Color changes */

html {
	background-color: var(--background-color) !important;
}

/* Cursors */

.cursor-edit {
	cursor: url(/cursors/edit-dark.svg) 0 16, auto;
}

.bulma-dark-mode .cursor-edit {
	cursor: url(/cursors/edit-light.svg) 0 16, auto;
}

/* Helpers */

.no-select {
	user-select: none;
}

.allow-select {
	user-select: auto;
}

.dark-show {
	display: none;
}

.light-show {
	display: unset;
}

.bulma-dark-mode .dark-show {
	display: unset !important;
}

.bulma-dark-mode .light-show {
	display: none !important;
}

.fade-on-hover:hover {
	color: #7a7a7a !important;
}